<%- include('../partials/header') %>

<h2>Insert a Ticket</h2>
<form action="/flights" method="POST">


<br><label>Seat</label>
<input type="text" name="seat" placeholder="Insert Seat Number"><br>
<br><label>Price</label>
<input type="number" name="price" placeholder="Insert $"><br>

<br><button type="submit">Add Ticket</button><br>
<br><div> <b>Flight ID: </b>  <%= id %> </div>

</form>
<p><%= `Ticket Meter ~ Powered by Mattia ` %></p>

<%- include('../partials/footer') %>
